@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>@Model.MembershipType.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li>@Convert.ToString(string.Format("{0:MMMM dd, yyyy}",Model.Birthdate))</li>
    }
</ul>
